<router-outlet></router-outlet>

  <mat-grid-list cols="2" rowHeight="2:2">
    <mat-grid-tile>
      <section>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Local</mat-label>
          <mat-select [(value)]="selectedLocal">
            <mat-option *ngFor="let local of locals" [value]="local.value">
              {{local.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      
      
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Choose from date</mat-label>
        <!-- #docregion toggle -->
        <input matInput [matDatepicker]="picker" (dateChange)="fromdatechanged($event)" formControlName="datefromform">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        <!-- #enddocregion toggle -->
        </mat-form-field>
      </div>
      
      
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Choose to date</mat-label>
        <!-- #docregion toggle -->
          <input matInput [matDatepicker]="picker1" (dateChange)="todatechanged($event)" formControlName="datetoform">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        <!-- #enddocregion toggle -->
        </mat-form-field>
      </div>
      
      
      <div class="example-button-row">
        <button (click)="ok()" mat-button>Basic</button>
      </div>
    </section>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-data-table>  </app-data-table>
    </mat-grid-tile>
  </mat-grid-list>


